

/*
Author: XpeedStudio
Author URI: http://www.Xpeedstudio.com
*/

/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {

    .main_contactus_area input[type=submit] {
        width: 30%;
    }

    .single_portfolio img{
        width:100%;
        height: 100%; 
    }
    .single_portfolio.height_1 img {
        width: 100%;
        height: 100%;
    }

    .team .main_team_content {
        align-items: center; /* Căn giữa nội dung */
   }

    .team .main_team_content .offset-md-2 {
        margin-left: 0; /* Không offset trên mobile */
        margin-bottom: 20px; /* Tăng khoảng cách giữa các hàng */
    }
    /* .cd-header {
        padding: 10px 15px;
    }
    .cd-header .brand-logo img {
        width: 100px;
    }
    .cd-menu-trigger {
        font-size: 22px;
    } */
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    html {
        font-size: 90%;
    }
    .list-inline>li {
        display: inline-block;
        padding-right: 3px;
        padding-left: 3px;
    }

    .main_service_content .single_service {
        margin-top: 0%;
    }


    .main_contactus_area input[type=submit] {
        width: 35%;
    }
    .ourmap {
        height: 653px;
    }
    .main_footer .footer_logo a img {
        width: 100%;
    }
    
    /* .cd-header a.brand-logo img {
        width: 20%;
    } */
    /* .cd-header .brand-logo img {
        width: 90px;
    }
    .cd-menu-trigger {
        font-size: 20px;
    }
    .single_portfolio img{
        width:100%;
        height: 100%; 
    } */

    .single_portfolio.height_1 img {
        width: 100%;
        height: 100%;
    }

    .team .main_team_content {
        align-items: center; /* Căn giữa nội dung */
    }

    .team .main_team_content .offset-md-2 {
        margin-left: 0; /* Không offset trên mobile */
        margin-bottom: 20px; /* Tăng khoảng cách giữa các hàng */
    }
}




/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    .preloader h2 {
        font-size: 2.5rem;
        margin-top: 200px;
        margin-bottom: 30px;
    }

    .loaded {
        width: 50px;
        height: 50px;
        top: calc(20% + 5%);
    }
    html {
        font-size: 90%;
    }
    /* .cd-header a.brand-logo img {
        width: 20%;
    }
    .cd-header {
        height:5%;
        left: 0;
    }
    .cd-menu-trigger {
        top: 16px;
        right: 10px;
        font-size: 16px;
        font-size: 1rem;
    } */
    /* .cd-header .brand-logo img {
        width: 80px;
    }
    .cd-menu-trigger {
        font-size: 18px;
    }
    #main-nav li a{
        padding: 2% 10%;
    } */
    .main_service_content img{
        width:100%;
    }
    .main_service_content .single_service {
        margin-top: 5%;
        padding: 0% 2%;
    }
    .single_service.single_service_left_text {
        margin-left: 0%;
    }

    .main_blog_area .single_blog_menu ul {
        margin-top: 10%;
    }
    .single_blog_img img{
        width:100%;
    }

    .main_footer .footer_logo a img {
        width: 20%;
    }

    .single_portfolio img{
        width:100%;
        height: 100%; 
    }
    .single_portfolio.height_1 img {
        width: 100%;
        height: 100%;
    }


    .team .main_team_content {
        align-items: center; /* Căn giữa nội dung */
    }

    .team .main_team_content .offset-md-2 {
        margin-left: 0; /* Không offset trên mobile */
        margin-bottom: 20px; /* Tăng khoảng cách giữa các hàng */
    }
    
}


/* Landscape phones and smaller */
@media (max-width: 479px) {
    .preloader h2 {
        font-size: 2rem;
        margin-top: 180px;
        margin-bottom: 20px;
    }

    .loaded {
        width: 40px;
        height: 40px;
        top: calc(25% + 5%);
    }
    html {
        font-size: 85%;
    }

    .single_portfolio img{
        width:100%;
        height: 100%; 
    }
    .single_portfolio.height_1 img {
        width: 100%;
        height: 100%;
    }
    /* .cd-header a.brand-logo img {
        width: 30%;
        margin-top: 4%;
    }
    .cd-header {
        height:7%;
        left: 0;
    } */
    /* .cd-header {
        flex-direction: row;
        justify-content: space-between;
    }
    .cd-header .brand-logo img {
        width: 70px;
    }
    .cd-menu-trigger {
        font-size: 16px;
    } */

    .team .main_team_content {
        align-items: center; /* Căn giữa nội dung */
    }

    .team .main_team_content .offset-md-2 {
        margin-left: 0; /* Không offset trên mobile */
        margin-bottom: 20px; /* Tăng khoảng cách giữa các hàng */
    }

}




@media (max-width: 320px) {

    html {
        font-size: 70.5%;
    }
    .main_contactus_area input[type=submit] {
        width: 40%;
    }

    .single_portfolio img{
        width:100%;
        height: 100%; 
    }
    .single_portfolio.height_1 img {
        width: 100%;
        height: 100%;
    }

    .team .main_team_content {
        align-items: center; /* Căn giữa nội dung */
    }

    .team .main_team_content .offset-md-2 {
        margin-left: 0; /* Không offset trên mobile */
        margin-bottom: 20px; /* Tăng khoảng cách giữa các hàng */
    }
    /* .cd-header .brand-logo img {
        width: 60px;
    }
    .cd-menu-trigger {
        font-size: 14px;
    } */
}


@media (max-width: 852px){
    .ourmap {
        height: 680px;
    }

    .single_portfolio img{
        width:100%;
        height: 100%; 
    }
    .single_portfolio.height_1 img {
        width: 100%;
        height: 100%;
    }


    .team .main_team_content {
        align-items: center; /* Căn giữa nội dung */
    }

    .team .main_team_content .offset-md-2 {
        margin-left: 0; /* Không offset trên mobile */
        margin-bottom: 20px; /* Tăng khoảng cách giữa các hàng */
    }
    /* .cd-header {
        padding: 8px 12px;
    }
    .cd-header .brand-logo img {
        width: 85px;
    }
    .cd-menu-trigger {
        font-size: 18px;
    } */
}




